APP_NAME="Crackers"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_TIMEZONE=Asia/Kolkata
APP_URL=http://127.0.0.1:8000

APP_LOCALE=en
APP_FALLBACK_LOCALE=en
APP_FAKER_LOCALE=en_US

LOG_CHANNEL=stack
LOG_STACK_CHANNELS=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=crackers2
DB_USERNAME=root
DB_PASSWORD=tiger

SESSION_DRIVER=file
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync
CACHE_STORE=file

# Cracker Store Config Defaults
MIN_ORDER_VALUE=3800
DEFAULT_DISCOUNT_PERCENT=60
STORE_WHATSAPP="917010619528"
STORE_PHONE="+91 7010619528"
STORE_EMAIL="crackers@gmail.com"
STORE_ADDRESS="Virudhunagar to Sivakasi Main Road, Sivakasi"
STORE_UPI_ID="crackers@okaxis"
STORE_BANK_NAME="State Bank of India"
STORE_BANK_ACC_NO="1234567890"
STORE_BANK_IFSC="SBIN0000123"
STORE_BANK_HOLDER="Crackers"

# Mail Settings
MAIL_MAILER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=
MAIL_PASSWORD=
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=
MAIL_FROM_NAME="${APP_NAME}"
